# general
.vscode

# frontend
frontend/node_modules

# backend
#   note that the env for the django backend should not be added within this repo
#   please store that in a secure location
__pycache__
backend-old/
secret/
*.csv
layers/
*.zip
*.tgz