$box-color: rgb(206, 202, 202);
$text-color: rgb(41, 40, 40);
$box-border-color: rgb(128, 120, 120);
$box-spacing: 2vw;
$box-width: 7vw;
$secondary-color: rgb(168, 168, 168);

textarea {
  background-color: $box-color;
  color: $text-color;
  border: none;
  font-size: 17px;
  font-family: inherit;
  font-weight: 400;
  resize: none;
  padding-right: calc(6vw);
  padding-left: 10px;
  margin-top: 8px;

  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(53, 51, 51);
    outline: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: absolute;
    left: 11px;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }

  &.hoveringScrollbar {
    cursor: pointer;
  }

  &.equationBox {
    width: 40vw;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid $box-border-color;
    border-radius: 8px;
    margin: 0;
    margin-bottom: 20px;
  }

}

.focusedBox{
  width: calc($box-width + 42px);
  background-color: rgba(0, 195, 255, 0.315);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 10px;
  margin-right: $box-spacing;
}

.inputBox{
  width: calc($box-width + 34px);
  background-color: $box-color;
  border: 1px solid $box-border-color;
  border-radius: 8px;
  margin-right: $box-spacing;

  .valueBox {
    width: 6vw;
    height: 500px;
    border-radius: 5px;
    white-space: nowrap;
    overflow-x: auto;
  }

}

.valueBoxPackage {
  position: relative;  
}

.valBoxHeader {
  width: calc($box-width + 34px);
  height: 50px;
  background-color: $secondary-color;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
  margin-left: 4px;
  position: relative;
  top: 10px;
  border: 1px solid rgb(131, 127, 127);

  .deleteButton {
    background-color: rgb(255, 49, 83);
    width: 50px;
    height: 48px;
    position: absolute;
    top: 0px;
    right: 0%;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      background-color: rgb(255, 25, 63);
    }

    img {
      width: 70%;
    }
  }

}

