@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap');
@import 'katex/dist/katex.min.css';

$box-color: rgb(240, 239, 239);
$text-color: rgb(41, 40, 40);
$box-border-color: rgb(128, 120, 120);
$box-spacing: 2vw;
$box-width: 8vw;
$secondary-color: rgb(255, 255, 255);
$equation-width: 58vw;

textarea {
  background-color: $box-color;
  color: $text-color;
  border: none;
  font-size: 17px;
  font-family: inherit;
  font-weight: 400;
  resize: none;
  padding-right: calc(6vw);
  padding-left: 10px;
  margin-top: 8px;

  &::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(94, 92, 92);
    outline: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: absolute;
    left: 11px;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }

  &.hoveringScrollbar {
    cursor: pointer;
  }

}

.focusedBox{
  width: calc($box-width + 42px);
  background-color: rgba(0, 195, 255, 0.315);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 10px;
  margin-right: $box-spacing;
}

.equationCase {
  background-color: $box-color;
  border: 1px solid $box-border-color;
  border-radius: 8px;
  width: $equation-width;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .equationBox {
    width: calc($equation-width - 5px);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 8px;
    margin: 0;
    position: relative;
    line-height: 2;

    &.hoveringScrollbar {
      cursor: pointer;
    }

  }

  &.focusedElement {
    outline: 2px solid rgba(71, 208, 250, 0.473);
  }

}

.valueCase{
  width: calc($box-width + 34px);
  background-color: $box-color;
  border: 1px solid $box-border-color;
  border-radius: 8px;
  margin-right: $box-spacing;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: flex;

  .valueBox {
    width: calc($box-width + 24px);
    height: 500px;
    border-radius: 5px;
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 5px;
  }

}

.valueBoxPackage {
  position: relative;  
}

.valBoxHeader {
  width: calc($box-width + 34px);
  height: 40px;
  background-color: $secondary-color;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
  margin-left: 4px;
  position: relative;
  top: 10px;
  border: 1px solid rgb(131, 127, 127);
  display: flex;
  

  .deleteButton {
    background-color: rgb(255, 49, 83);
    width: 40px;
    height: 39px;
    position: absolute;
    top: 0px;
    right: 0%;
    border-top-right-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      background-color: rgb(255, 25, 63);
    }

    img {
      width: 80%;
    }
  }

  .errorButton{
    background-color: rgb(6, 122, 255);
    width: 60px;
    height: 39px;
    position: absolute;
    top: 0px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;


    &:hover {
      cursor: pointer;
      background-color: rgb(33, 136, 253);
    }

    p {
      font-family: 'STIX Two Math', sans-serif;
      font-size: 20px;
      color: white;
    }

    // latex styling
    .katex {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .base {
      color: white !important;
      font-size: 20px;

      * {
        margin: 0px !important;
        padding: 0px 1px 0px 1px;
      }

      .strut {
        display: none;
      }

    }

  }

  .boxVar {
    background-color: white;
    border: none;
    outline: none;
    margin-left: calc($box-width * 0.05);
    width: calc($box-width * 0.45);
    font-family: inherit;
    font-weight: 600;
    font-size: 18px;
  }

}

