$nav-bar-color: #535bf2;
$btn-hover-color: #5d64ec;
$btn-width: 60px; // this is only what it defaults to, specific widths are in TopNavBar.tsx
$nav-bar-height: 70px;

.topNavBar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $nav-bar-color;
  color: white;
  width: 100%;
  height: $nav-bar-height;
  z-index: 1000;
  margin: 0;
  padding: 0;

  .navSide {
    margin: 0;
    padding: 0;
    width: 1%;
  }

  .rightGroup {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: auto;
  }

  ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;

    a, .navLink {
      height: 100%;
      text-decoration: none;
      color: inherit;
    }

    li, .trayButton {
      margin: 0;
      padding: 0;
      background-color: $nav-bar-color;
      width: $btn-width;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      &:hover {
        // background-color: $btn-hover-color;
        cursor: pointer;

      }

      img, p {
        color: inherit;
        font-size: 1.1em;
      }

      img {
        height: 80%;
        object-fit: contain;
      }
    }

  }

}