$page-scroll-bar-width: 14px;
$page-width: calc(100vw - $page-scroll-bar-width);

$delete-button-width: 40px;
$error-button-width: 60px;
$val-box-width: calc(max(calc(8vw + 34px), 140px) );
$err-box-width: calc($error-button-width + $delete-button-width - 1px);
$box-width: calc($val-box-width + $err-box-width);

$box-spacing-horizontal: calc(max((0.7 * $page-width - 5 * $val-box-width) / 4, 10px));


.valueBoxes{
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * $box-spacing-horizontal - 2px);
    padding: 0px;
}

.badInputMessage {
    color: red;
    font-size: 0.95em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    white-space: normal;
    width: $box-width;

    &.constError {
        width: calc($val-box-width);
    }
}

.propagatorButtons{
    display: flex;
    flex-wrap: wrap;

    button {
        margin-top: 35px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 15px;
    }

    .propagationBtn {
        background-color: rgb(255, 49, 83);

        &:hover {
            background-color: rgb(255, 0, 43); 
        }
    }

  }

  .noVarsMessage {
    margin-top: 50px;
  }

  